/* 
This is the style sheet created for Project Part 1 of CS 4WW3 of Fall term 2019.
The registration style sheet will be seperated into sections as follows:
	* Navigation Bar (Menu)
    * Row & Column
    * Header
    * Form
        * Lable
        * Input Space
        * drop-down box
    * Footer

Also note this file will not have any JS.

*/

/* Base Page Set up */
/* html, body, header, footer */
html, body{
    min-height: 100%;
    margin: 0;
}

/* header */
header {
    background-color: black;
    width:100%;
    float:left;
    padding:0;
}

/* footer */
footer {
    clear:both;
    color:black;
    position: relative;
    background-color: rgba(255,192,203,0.5);
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*-------------------------------------------------------------------------------*/
/* column & row*/
.column {
    float: left;
    padding: 0px;
    position: relative;
}

/*
	In row specifications we use clear to denote that nothing is to float to the left or right of it.
*/
.row{
	width:100%;
    content: "";
    display: table;
    clear: both;
}

/* logo is in the header and it is used to contain an image */
.logo {
    float: left;
    width:15%;
    font-size:400%;
    text-align: center;
    vertical-align: middle;
    margin:0px;
}

.logo img{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

/* navigation menu */
.top-navigation {
    float: left;
    width:85%;
    overflow: hidden;
}

/* Actual link attributes */
.top-navigation a {
    float: right;
    color: white;
    text-align: center;
    padding: 20px 16px;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
}

/*CSS Method of handling mouse hovering*/
.top-navigation a:hover{
    background-color: pink;
    color: black;
    margin: 10px;
  }

/*---------------------------------------------------------------------------------*/
/* login framework */

/* message about sign up */
.instruction{
    float:left;
    width:100%;
    position: relative;
}

.instruction h1,p{
    padding: 10px 70px;
    margin: 10px 0px;
}

/* form */
form{
    float: left;
    border-style: solid; /* solid border of a form */
    border-color: #f2f2f2; 
    width:70%;
    margin: 10px 0px 10px 70px;
    padding: 20px;
}

/* label the name of each input */
label{
    padding: 10px 0px 5px 0px;;
    width:90%;
    float: left;
    resize: vertical;
}

/* input style set up */
/* select which is a drop‐down box */
input[type=text], input[type=password], input[type=email], select{
    width:90%;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}


/* submit input framwork set up*/
input[type=submit]{
    float: right;
    width: 20%;
    padding: 12px;
    margin: 10px 10px;
    border: 1px solid black;
    resize: vertical;
    background-color: rgba(255,192,203,0.5);
}

